<h1>Brown Trout</h1>
<h2><i>Salmo trutta</i></h2>
<h2>Salt Water</h2>
<p>The brown trout is an originally European species of salmonid fish. It includes both purely freshwater populations, referred to Salmo trutta morpha fario and S. trutta morpha lacustris, and anadromous forms known as the sea trout, S. trutta morpha trutta. The latter migrates to the oceans for much of its life and returns to freshwater only to spawn.[3] Sea trout in the UK and Ireland have many regional names, including sewin (Wales), finnock (Scotland), peal (West Country), mort (North West England) and white trout (Ireland).
</p>

<img src= "http://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Bachforelle_Zeichnung.jpg/440px-Bachforelle_Zeichnung.jpg">
<br>
<a href="http://en.wikipedia.org/wiki/Brown_trout">Trout Wiki</a>
<br>
<a href="/">Homepage</a>